*.swp
*.swo
*__pycache__*
*.egg-info
doc/build/*
.pytest_cache
.cache/
benchmarks/env/
benchmarks/html/
benchmarks/kymatio/
benchmarks/results/
doc/source/gallery_1d
doc/source/gallery_2d
doc/source/gallery_3d
.coverage
