language: python
dist: xenial
python:
  - "3.5"
  - "3.6"
  - "3.7"
env:
  - CONDA=0
  - CONDA=1
install:
  - source ./tools/travis_install.sh
script:
  - pytest --cov=kymatio
after_success:
  - bash <(curl -s https://codecov.io/bash) -F travis
